/*
----------------------------------------

BARRA DE NAVEGACION

----------------------------------------
*/
body {
  background-color: #f38cbc;
  display: flex;
  /*justify-content: center;*/
  padding-top: 110px;
  /*align-items: center;*/
  height: 100vh;
}

.bubble-nav {
  background-color: #dfa354;
  padding: 1.2rem 3rem;
  border-radius: 50px;
  display: flex;
  gap: 2rem;    /* Espacio entre "rayitas" */
  border: 1px solid #ffffff; /* borde blanco */
  align-items: center;
  position: fixed;
  top: 20px;    /* Fijado arriba */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;          /* Asegura que esté encima del contenido */
}

.bubble-nav a {
  color: #e5e5e5;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #fffdfd;
}

img {
  width: 30px;
  height: auto;
}


/*
----------------------------------------

PRIMERA TARJETA - INFORMACION PERSONAL

----------------------------------------
*/
.contact-card {
  background-color: #ffb5dd;
  padding: 25px 128px; /* Espacio interno ampliio*/
  border-radius: 30px; 
  height: 300px;
  margin: 2rem auto 0 auto;
/*        ↑     ↑     ↑     ↑
          top   right bottom left */

  color: #333232;
  border: 1px solid #ffffff; /* borde blanco */
  position: relative;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
}

.role {
  display: inline-block;
  background-color: #f1bc8b;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  font-size: 0.75rem;
  margin-top: 0.3rem;
  color: #131212;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.contact-item {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  background: #121212;
  padding: 1rem;
  border-radius: 12px;
}

.contact-item small {
  font-size: 0.7rem;
  color: #aaa;
}

.contact-item p {
  margin: 0;
  color: #fff;
  font-size: 0.9rem;
}

.social-icons {
  text-align: center;
  margin-top: 2rem;
}

.social-icons a {
  margin: 0 10px;
  color: #ccc;
  font-size: 1.2rem;
  transition: color 0.3s;
}
