/*body.dark-mode {
  background: #181A20 !important;
  color: #F9FAFC !important;
}
body.dark-mode .icon-bar {
  background: #181A20;
}
body.dark-mode .hero-block,
body.dark-mode .about-block,
body.dark-mode .block {
  background: #181A20;
  color: #F9FAFC;
  border-color: #394052;
}
body.dark-mode .profile-img {
  border-color: #F78DA7;
}
body.dark-mode footer {
  background: #181A20;
  color: #7ED6A5;
}*/